.forecast-header {
  height: 60px;
  border-bottom: 1px solid var(--secondary-color);
}

.forecast-container {
  width: 100%;
  min-height: 300px;
}

.forecast-date,
.location,
.weather-detail,
.forecast-weekly-item p {
  font-size: 1.2rem;
}

.forecast-main {
  border-bottom: 1px solid var(--secondary-color);
}

.forecast-main-temp,
.weather-detail,
.forecast-weekly-item p {
  font-weight: 200;
}

.main-temp-container {
  justify-content: end;
}

.forecast-main-temp {
  margin: 0;
  letter-spacing: -0.5rem;
  font-size: 6.4rem;
}

.forecast-weekly-item {
  flex: 0 0 14.28%;
  border-right: 1px solid var(--secondary-color);
  text-align: center;
}

.forecast-main-details {
  margin-left: 2rem;
}

.weather-detail {
  padding: 0;
}

.conditions {
  font-size: 2rem;
  line-height: 1;
  text-align: end;
  margin: 1rem 0;
}

.location {
  font-weight: 400;
}

.weather-details {
  gap: 0.5rem;
}

.forecast-weekly-item:last-child {
  border-right: none;
}

@media (max-width: 539px) {
  .conditions {
    font-size: 2rem;
    grid-column: 1;
  }

  .location {
    grid-row: 2;
  }

  .forecast-main-details {
    margin-left: 0;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 380px) {
  .forecast-main-temp {
    font-size: 5.6rem;
  }

  .conditions {
    font-size: 1.4rem;
    margin: 0.5rem 0 1.2rem 0;
  }

  .location,
  .weather-detail,
  .forecast-weekly-item p {
    font-size: 0.9rem;
  }

  .weather-details {
    gap: 0.5rem;
  }
}

@media (max-width: 320px) {
  .forecast-main-temp {
    font-size: 5.2rem;
  }
}
