.wrapper {
  width: 90%;
  max-width: 675px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--bg-color--wrapper);
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
