.results-list {
  width: 70%;
  border-radius: 0;
}

.results-list button {
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0;
}

@media (max-width: 430px) {
  .results-list {
    font-size: 0.8rem;
  }
}
